//@use "../../../scss/custom.scss" as bootstrap;

.courseHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  ol {
  }
  * {
    margin: 0;
    padding: 0;
  }
  border: solid 1px black;
  align-items: center;
  height: fit-content;
}

.breadcrumb {
  border: solid 1px red;

  margin-bottom: 0 !important;
}

.active {
  text-decoration: none !important;
  border: solid 1px black;
}
