@use "../../../scss/globals.scss" as bootstrap;

.courseNavigation {
  li {
    text-decoration: none;
    list-style: none;
  }
}

.navigationItem {
  text-decoration: none;
}

.active {
  color: black;
  border-left: 1px solid black;
  // get spacing from bootstrap spacers map
  padding-left: map-get(bootstrap.$spacers, 1);
}

hr {
  margin: 0;
}
