//@import "../../scss/globals.scss";
@use "../../scss/globals.scss";
.courseLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: solid;
}

.courseLayout__body {
  display: flex;
  flex-direction: row;
}

.breadcrumb__item {
  color: globals.$primary !important;
}

.button-col {
  display: flex;
  flex-direction: column;
  gap: 8px;

  * {
    justify-content: left !important;
    text-align: left;
  }
}
