@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Lato Extended";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato-Light-7244318390.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato Extended";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular-bd03a2cc27.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato Extended";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Lato-Italic-4eb103b4d1.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato Extended";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold-cccb897485.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato Extended";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Lato-BoldItalic-0b6bb67255.woff2");
  font-display: swap;
}

* {
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 100%;
}
