/* @import "bootstrap/scss/functions";

$breadcrumb-divider: quote(">");
$primary: #be4648; */

// overrides
a {
  text-decoration: none;
}

// Lato font face with weights Lato-Bold, Lato-Regular, Lato-Light
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Lato Extended";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato-Light-7244318390.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato Extended";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular-bd03a2cc27.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato Extended";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Lato-Italic-4eb103b4d1.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato Extended";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold-cccb897485.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato Extended";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Lato-BoldItalic-0b6bb67255.woff2");
  font-display: swap;
}
/* 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
//@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
 */